[Unit]
Description=Start SAFE for pendant at system start.

[Service]
WorkingDirectory=/var/lib/snips/snips-satellite-safe
ExecStart=/usr/bin/python3 /var/lib/snips/snips-satellite-safe/button-service_safe.py

[Install]
WantedBy=multi-user.target
